<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
          crossorigin="anonymous">
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{% static "css/custom.css" %}">
    <link rel="shortcut icon" 
          href="{%  static 'healthtracker/favicon.ico' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
            crossorigin="anonymous">
            </script>
    <link rel="stylesheet" 
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
            $( function() {
              $( "#datepicker" ).datepicker();
            } );
    </script>
    <title>{% block title %}Fitster, the Healthtracker{% endblock %}</title>
</head>

<body>
  <div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid" id="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" 
                    data-toggle="collapse" data-target="#navbar" 
                    aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="{% url 'healthtracker:profile' %}" class="navbar-brand">
              <img src="{% static "healthtracker/logo.png" %}"
                   alt="Your Fitster Home"/>
            </a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            {% block navbar_left %}
            <li><a href="{% url 'healthtracker:profile' %}">Home</a></li>
            {% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% block navbar_right %}
            {% endblock %}
            <li><a href="{% url 'healthtracker:logout' %}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
  </nav>
  {% block notification %}
  {% endblock %}
  </div>
  <div id="content">
      {% block content %}
      {% endblock %}
  </div>
  
</body>
</html>
