<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<div class="container">
            <form class="form-horizontal" role="form" action="{% url 'healthtracker:recoverpassword' %}" method="post">
              {% csrf_token %}
              <h2>Fitster Password Recovery</h2>
              <div class="form-group">
                  <label for="email" class="col-sm-3 control-label">Email</label>
                  <div class="col-sm-9">
                      <input type="email" id="email" placeholder="Email" class="form-control">
                  </div>
                  <span class="help-block">john@example.com</span>
              </div>
              <div class="form-group">
                  <div class="col-sm-9 col-sm-offset-3">
                      <button type="submit" class="btn btn-primary btn-block">Recover</button>
                  </div>
              </div>
            </form>
          </div>
