{% extends 'healthtracker/base.html' %}

{% block title %} 
    {{ request.user.first_name }} - Home 
{% endblock %}

{% block navbar_left %}
    
{% endblock %}

{% block navbar_right %}
    <li><a href="{% url 'healthtracker:editprofile' %}">Profile Settings</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="well">
    <div>
      Welcome  {% if request.user.date_joined.date is not now.date %} back {% endif %}{{ request.user.first_name }}!
    </div>
    <br>
    <div>
      Your current BMI is calculated to be {{ request.session.bmi }}
    </div>
  </div>
</div>

{% endblock %}
