{% extends 'healthtracker/base.html' %}

{% block title %} 
    {{ request.user.first_name }} - Home 
{% endblock %}

{% block navbar_left %}
    <li><a href="{% url 'healthtracker:addmeal' %}">Add Meal</a></li>
    <li><a href="{% url 'healthtracker:addexercise' %}">Add Exercise</a></li>
{% endblock %}

{% block navbar_right %}
    <li><a href="{% url 'healthtracker:editprofile' %}">Profile Settings</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="well">
    <div>
      <h1>
        Welcome  {% if request.user.date_joined.date is not now.date %} back {% endif %}{{ request.user.first_name }}!
      </h1>
    </div>
    <br>
    <div>
      Your current BMI is calculated to be {{ request.session.bmi }}
    </div>
  </div>
</div>


<div class="container">
  <div class="col-md-6">
    <div class="well">
      <form class="form-group" action="{% url 'healthtracker:searchmeal' %}" method="post">
          {% csrf_token %}
          <h2 class="form-heading">Query Food</h2>
          <label for="food" class="sr-only">Food</label>
          <input type="text" id="food" name="food" class="form-control" placeholder="Enter food...">
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <form class="form-group" action="{% url 'healthtracker:searchexercise' %}" method="post">
          {% csrf_token %}
          <h2 class="form-heading">Query Exercise</h2>
          <label for="exercise" class="sr-only">Exercise</label>
          <input type="text" id="exercise" name="exercise" class="form-control" placeholder="Enter exercise...">
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
