{% extends 'healthtracker/base.html' %}

{% block title %} 
    {{ request.user.first_name }} - Home 
{% endblock %}

{% block notification %}
  {% if messages %}
    {% for message in messages %}
      <div class="panel panel-success">
        <div class="panel-heading">Success</div>
        <div class="panel-body">{{ message }}</div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="well">
    <div>
      <h1>
        Welcome back {{ request.user.first_name }}!
      </h1>
    </div>
    <br>
    <div>
      <h4>
        <font color="green">
          "{{ quotetext }}" -{{ quoteauthor }} 
        </font>
      </h4>
    </div>
    <br>
    <div>
      Your current BMI is calculated to be {{ request.session.bmi|floatformat }}
    </div>
  </div>
</div>


<div class="container">
  <div class="col-md-6">
    <div class="well">
      <form class="form-group" 
            action="{% url 'healthtracker:searchmeal' %}" 
            method="post">
          {% csrf_token %}
          <h2 class="form-heading">Query Food</h2>
          <label for="food" 
                 class="sr-only">Food</label>
          <input type="text" 
                 id="food" 
                 name="food" 
                 class="form-control" 
                 placeholder="Enter food...">
          <br>
          <button class="btn btn-lg btn-primary btn-block" 
                  type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <form class="form-group" 
            action="{% url 'healthtracker:searchexercise' %}" 
            method="get">
          <h2 class="form-heading">Query Exercise</h2>
          <label for="exercise" 
                 class="sr-only">Exercise</label>
          <input type="text" 
                 id="exercise"
                 name="exercise" 
                 class="form-control" 
                 placeholder="Enter exercise...">
          <br>
          <button class="btn btn-lg btn-primary btn-block" 
                  type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-6">
    <div class="well">
      <form class="form-group" 
            action="{% url 'healthtracker:searchmeal' %}" 
            method="post">
          {% csrf_token %}
          <h2 class="form-heading">Today's Consumption</h2>
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
              {% if recentfoodhistory %}
              <thead>
                <tr>
                  <th>Food Name</th>
                  <th>Amount Consumed</th>
                  <th>Calories Gained</th>
                </tr>
              </thead>
              {% endif %}
              <tbody>
                {% for item in recentfoodhistory %}
                <tr>
                  <td>
                    <div>
                        {{ item.item_name }}
                    </div>
                  </td>
                  <td>
                    <div>
                        {{ item.item_quantity }} {{ item.item_unit }}
                    </div>
                  </td>
                  <td>
                    <div>
                        {% for record in recentcalories %}
                          {% if item.id == record.history_item_id %}
                            {{ record.item_calories }}
                          {% endif %}
                        {% empty %}
                        N/A
                        {% endfor %}
                    </div>
                  </td>
                </tr>
                {% empty %}
                Sorry, no results found.
                {% endfor %}
              </tbody>
            </table>
          </div>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <form class="form-group" 
            action="{% url 'healthtracker:searchexercise' %}" 
            method="get">
          {% csrf_token %}
          <h2 class="form-heading">Today's Exercises</h2>
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
              {% if recentexercisehistory %}
              <thead>
                <tr>
                  <th>Activity Name</th>
                  <th>Duration</th>
                  <th>Calories Burned</th>
                </tr>
              </thead>
              {% endif %}
              <tbody>
                {% for item in recentexercisehistory %}
                <tr>
                  <td>
                    <div>
                        {{ item.item_name }}
                    </div>
                  </td>
                  <td>
                    <div>
                        {{ item.item_quantity }} {{ item.item_unit }}
                    </div>
                  </td>
                  <td>
                    <div>
                      {% for record in recentcalories %}
                        {% if item.id == record.history_item_id %}
                          {{ record.item_calories }}
                        {% endif %}
                      {% empty %}
                      N/A
                      {% endfor %}
                    </div>
                  </td>
                </tr>
                {% empty %}
                Sorry, no results found.
                {% endfor %}
              </tbody>
            </table>
          </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
