{% extends 'healthtracker/base.html' %}

{% block title %} 
    Fitster - Add Meal 
{% endblock %}

{% block navbar_left %}
    <li><a href="{% url 'healthtracker:searchmeal' %}">Add Meal</a></li>
    <li><a href="{% url 'healthtracker:searchexercise' %}">Add Exercise</a></li>
{% endblock %}

{% block navbar_right %}
    <li><a href="{% url 'healthtracker:editprofile' %}">Profile Settings</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <form class="form-group" 
            action="{% url 'healthtracker:searchmeal' %}" 
            method="post">
          {% csrf_token %}
          <h2 class="form-heading">Query Food</h2>
          <label for="food" 
                 class="sr-only">Food</label>
          <input type="text" 
                 id="food" 
                 name="food" 
                 class="form-control" 
                 placeholder="Enter food..."
                 autofocus="">
          <br>
          <button class="btn btn-lg btn-primary btn-block" 
                  type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
{% if request.results is not None %}
  <div class="container">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Query Results</div>
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-striped">
            {% if request.results %}
            <thead>
              <tr>
                <th>Food Name</th>
              </tr>
            </thead>
            {% endif %}
            <tbody>
              {% for food in request.results %}
              <tr>
                <td>
                  <div class=link>
                      <a href="{% url 'healthtracker:fooddetails' food.ndbno %}">{{ food.name }}</a>
                  </div>
                </td>
              </tr>
              {% empty %}
              Sorry, no results found.
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

{% endblock %}
