{% extends 'healthtracker/base.html' %}

{% block title %} 
    {{ request.user.first_name }} - Home 
{% endblock %}

{% block navbar_left %}
    <li><a href="{% url 'healthtracker:searchmeal' %}">Search Meal</a></li>
    <li><a href="{% url 'healthtracker:searchexercise' %}">Search Exercise</a></li>
{% endblock %}

{% block navbar_right %}
    <li><a href="{% url 'healthtracker:editprofile' %}">Profile Settings</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <form class="form-group" 
            action="{% url 'healthtracker:searchexercise' %}" 
            method="post">
          {% csrf_token %}
          <h2 class="form-heading">Query Exercise</h2>
          <label for="exercise" 
                 class="sr-only">Exercise</label>
          <input type="text" 
                 id="exercise" 
                 name="exercise" 
                 class="form-control" 
                 placeholder="Enter exercise time..." 
                 autofocus="">
          <br>
          <select class="form-control" 
                  name="unit">
            {% for exercise in request.activities %} 
            <option value="{{ exercise.Description }}">{{ exercise.Description }}</option>
            {% empty %}
            <option value="none">No Exercise</option>
            {% endfor %}
          </select>
          <br>
          <button class="btn btn-lg btn-primary btn-block" 
                  type="submit">Add</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
