{% extends 'healthtracker/base.html' %}

{% block title %} 
    {{ request.user.first_name }} - Home 
{% endblock %}

{% block navbar_left %}
    <li><a href="{% url 'healthtracker:searchmeal' %}">Add Meal</a></li>
    <li><a href="{% url 'healthtracker:searchexercise' %}">Add Exercise</a></li>
{% endblock %}

{% block navbar_right %}
    <li><a href="{% url 'healthtracker:editprofile' %}">Profile Settings</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <form class="form-group" 
            action="{% url 'healthtracker:searchexercise' %}" 
            method="post">
          {% csrf_token %}
          <h2 class="form-heading">Add Exercise</h2>
          <p><input type="text" 
                    name="date"
                    class="form-control" 
                    id="datepicker"
                    placeholder="Select date..."></p>
          <p><input type="text" 
                 id="duration" 
                 name="duration" 
                 class="form-control" 
                 placeholder="Enter exercise duration in minutes..." 
                 autofocus=""></p>
          <label for="exercise" 
                 class="sr-only">Exercise</label>
          <select class="form-control"
                  id="exercise"
                  name="exercise">
            <option value="" 
                    disabled 
                    selected>Select an exercise...</option>
            {% for exercise in request.activities %} 
            <option value="{{ exercise.id }}_{{ exercise.Description }}">{{ exercise.Description }}</option>
            {% empty %}
            <option value="0">No exercises found</option>
            {% endfor %}
          </select>
          <br>
          <button class="btn btn-lg btn-primary btn-block" 
                  type="submit">Add</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
