{% extends 'healthtracker/outbase.html' %}

{% block title %} 
    Fitster - Sign Up 
{% endblock %}

{% block content %}
<div class="container">
  <form class="form-horizontal" action="{% url 'healthtracker:signup' %}" method="post">
    {% csrf_token %}
      <h2>Fitster Registration</h2>
        <div>
          {{ user_form.as_p }}
        </div>
        <div>
          {{ userprofile_form.as_p }}
        </div>
      <button class="btn btn-primary btn-block" type="submit">Register</button>
  </form>
</div>
{% endblock %}
