<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<div class="container">
  <form class="form-horizontal" action="{% url 'healthtracker:signup' %}" method="post">
    {% csrf_token %}
      <h2>Fitster Registration</h2>
        <div>
          {{ userbasic_form.as_p }}
        </div>
        <div>
          {{ userprofile_form.as_p }}
        </div>
      <button class="btn btn-primary btn-block" type="submit">Register</button>
  </form>
</div>
